Make*
auto*
conf*
aclocal.m4
*.o
*bar
temp_dir/
src/.deps/
.deps/
*.in
*.in~
*stam*
*.txt
src/pinky_curses
*.xz
*.pdc
*.pyo











!extra/FreeBSD/Makefile
!extra/zsh/_pinkybar
!doc/man_template.pdc
!extra/Gentoo/app-admin/pinky/*
